# xcode noise

build/*
*.pbxuser
*.perspectivev3
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store

.gitignore~
PreviewSlider.xcodeproj/project.xcworkspace/xcuserdata/paoloquadrani.xcuserdatad/UserInterfaceState.xcuserstate
PreviewSlider.xcodeproj/xcuserdata/paoloquadrani.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
PreviewSlider.xcodeproj/xcuserdata/paoloquadrani.xcuserdatad/xcschemes/PreviewSlider.xcscheme
PreviewSlider.xcodeproj/xcuserdata/paoloquadrani.xcuserdatad/xcschemes/xcschememanagement.plist